<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
	<logger name="db.tool" level="DEBUG" />
	<logger name="org.mybatis.spring" level="INFO" />
	<logger name="org.apache.ibatis" level="INFO" />
	<springProfile name="staging">
		<logger name="db.tool" level="TRACE" />
	</springProfile>
</configuration>